@model LonghornCinemaProject.Models.Order
@using LonghornCinemaProject.Models

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>

<h4>Products</h4>
<table class="table table-sm table-striped table-hover">
    <tr>
        <th>Showtime</th>
        <th>Showing Price</th>
        <th>Showing Quantity</th>
        <th>Extended Price</th>
    </tr>
    @foreach (Ticket t in Model.Tickets)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => t.Showtime.ShowtimeTime)</td>
            <td>@Html.DisplayFor(modelItem => t.TicketPrice)</td>
            <td>@Html.DisplayFor(modelItem => t.Quantity)</td>
            <td>@Html.DisplayFor(modelItem => t.ExtendedPrice)</td>
        </tr>
    }
</table>

<table class="table table-sm table-bordered" style="width:30%">
    <tr>
        <th colspan="2" style="text-align:center">Order Summary</th>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.OrderSubtotal)</td>
        <td>@Html.DisplayFor(model => model.OrderSubtotal)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.SalesTax)</td>
        <td>@Html.DisplayFor(model => model.SalesTax)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.OrderTotal)</td>
        <td>@Html.DisplayFor(model => model.OrderTotal)</td>
    </tr>

</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
