@model LonghornCinemaProject.Models.Showtime

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Showtime</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShowtimeTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowtimeTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TheaterNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TheaterNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShowtimeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
