@model IEnumerable<LonghornCinemaProject.Models.Movie>
@using LonghornCinemaProject.Models

@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>

<p>
    @Html.ActionLink("Tickets", "Index", "Tickets", null, new { @class = "nav-link" })
</p>
<p>
    @Html.ActionLink("Orders", "Index", "Orders", null, new { @class = "nav-link" })
</p>

<label>Displaying @ViewBag.SelectedMovies out of @ViewBag.TotalMovies Movies </label>

@using (Html.BeginForm())
{
    <p class="form-group">
        Search: @Html.TextBox("strTitle", null, new { @class = "form-control" })<br />
        <input type="submit" value="Search" class="btn btn-default" />
        @Html.ActionLink("Detailed Search", "DetailedSearch", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Show All", "Index", null, new { @class = "btn btn-default" })
    </p>



}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tagline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovieCustomerRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actors)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RunTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Overview)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Revenue)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tagline)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MovieCustomerRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Actors)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RunTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Overview)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Revenue)
        </td>

        <td>
            @Html.ActionLink("Place an Order", "Create", "Orders", null, new { @class = "nav - link" })
        </td>

    </tr>
    }

</table>